<a id="Map"></a>
<div class="container">
	<div class="row">
		<div class="page-header">
			<h2> Know Your Status - Search below to find a free testing center </h2>
		</div> 
	</div>
	
</div>
	
<div class="container">
	<h3>Search by Borough</h3>
	<div id="filter">
	<ul style= "list-style: none">
			<li><input type="radio" name="borough" id="bronxCheckbox" onclick="toggleGroup('Bronx')"/> Bronx <input type="radio" name="borough" id="brooklynCheckbox" onclick="toggleGroup('Brooklyn')"/> Brooklyn
			<input type="radio" name="borough" id="manhattanCheckbox" onclick="toggleGroup('Upper Manhattan')"/> Upper Manhattan
			</li>
			<li><input type="radio" name="borough" id="manhattanCheckbox" onclick="toggleGroup('Lower Manhattan')"/> Lower Manhattan
			<input type="radio" name="borough" id="queensCheckbox" onclick="toggleGroup('Queens')"/> Queens <input type="radio" name="borough" id="statenCheckbox" onclick="toggleGroup('Staten Island')"/> Staten Island
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div id="map-canvas" style="width: 80%; height: 400px;"></div>
		</div>
		<div class="col-md-4">
			<div id='sidebar_container'>
				<h3>Clinic Information</h3>
				<% @clinics.each do |f| %>
				<ul class=<%="#{f.borough}"%>>
					<li style="list-style: none">
						<strong><%=f.name%> </strong><br>
						<strong>Hours: </strong><%=f.hours%><br>
						<strong>Number: </strong><%=f.number%><br>
						<strong>Address: </strong><%=f.address%>
					</li>
				</ul>
				<% end%>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var mapStyle = [
{
    "featureType": "all",
    "elementType": "all",
    "stylers": [
        { "hue": "#ff0000"},
        {"lightness": 4},
        {"saturation": -48}]
}];

clinics = <%= raw @hash.to_json %>;

var handler = Gmaps.build('Google');
handler.buildMap({
    internal: {id: 'map-canvas'},
    provider: {
      styles:    mapStyle
    }
  },

  function() {
 		markers = handler.addMarkers(clinics);
 		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
		_.each(clinics, function(json, index){
    json.marker = markers[index];
  });
	});

	function toggleGroup(borough) {
	  	var selected_clinics = [];
	    for (var i = 0; i < clinics.length; i++) {
		    if (clinics[i].borough == borough) {
		      selected_clinics.push(clinics[i])
		      var boroughClass = clinics[i].borough

		      var taco = "." + boroughClass.split(' ');
		      console.log(taco)
		      var blah =  taco.split(',')
		      console.log(blah);
		      $(blah[0]).css('display', 'block')
		    }
		    else{
		      var boroughClass = clinics[i].borough

		      var taco = "." + boroughClass.split(' ');
		      console.log(taco)
		      var blah =  taco.split(',')
		      $(blah[0]).css('display', 'none')

		    }
		}

	  	var handler = Gmaps.build('Google');
		handler.buildMap({
    	internal: {id: 'map-canvas'},
    	provider: {
      		styles: mapStyle
    	}
  	},
		
		function() {
	 		markers = handler.addMarkers(selected_clinics);
	 		handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		});
	};

</script>

<div class="empty"></div>

